[Unit]
Description=Monitor GPIO pin

[Service]
ExecStart=/home/pi/Projects/moonshine/.venv/bin/python /home/pi/Projects/moonshine/watchdog.py
StandardOutput=append:/var/log/watchdog.log
StandardError=append:/var/log/watchdog_error.log
Restart=always
User=root
WorkingDirectory=/tmp
Environment=PYTHONBUFFERED=1

[Install]
WantedBy=multi-user.target